<nav id="sidebar">
  <ul class="list-unstyled components">
    <div class="desktop-none">
      <div class="d-flex align-items-center mb-3">
        <h5>Employee Self Service</h5>
        <button type="button" id="sidebarRemove" class="btn btn-tutup ms-auto">
          <i class="fa-solid fa-x"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <!-- Employee Profile -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/">
            <img src="/dist/img/sidebar/Icon-HRD_Employee Profile.png" />
            <p>Employee Profile</p>
          </a>
        </li>
      </div>
      <!-- Attendance Online -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/attendance_online.html">
            <img src="/dist/img/sidebar/Icon-HRD_Attendance Online.png" />
            <p>Attendance Online</p>
          </a>
        </li>
      </div>
      <!-- Over Time -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/over_time.html">
            <img src="/dist/img/sidebar/Icon-HRD_Overtime.png" />
            <p>Over Time</p>
          </a>
        </li>
      </div>
      <!-- Time Management -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/time_management.html">
            <img src="/dist/img/sidebar/Icon-HRD_Time Management.png" />
            <p>Time Management</p>
          </a>
        </li>
      </div>
      <!-- Medical Claim -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/medical_claim.html">
            <img src="/dist/img/sidebar/Icon-HRD_Medical Claim.png" />
            <p>Medical Claim</p>
          </a>
        </li>
      </div>
      <!-- Employee Message -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/employee_message.html">
            <img src="/dist/img/sidebar/Icon-HRD_Employee Message.png" />
            <p>Employee Message</p>
          </a>
        </li>
      </div>
      <!-- Performance -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/performance.html">
            <img src="/dist/img/sidebar/Icon-HRD_Perfomance.png" />
            <p>Performance</p>
          </a>
        </li>
      </div>
      <!-- KPI Operation -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/kpi_operation.html">
            <img src="/dist/img/sidebar/Icon-HRD_KPI Operation.png" />
            <p>KPI Operation</p>
          </a>
        </li>
      </div>
      <!-- KK-SK Online -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/kk_sk_online.html">
            <img src="/dist/img/sidebar/Icon-HRD_KK-SK Online.png" />
            <p>KK-SK Online</p>
          </a>
        </li>
      </div>
      <!-- Termination -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/termination.html">
            <img src="/dist/img/sidebar/Icon-HRD_Termination.png" />
            <p>Termination</p>
          </a>
        </li>
      </div>
      <!-- Pekerja Harian Lepas -->
      <div class="col-md-12 col-6 overflow-wrap-any">
        <li class="text-center pb-1">
          <a class="pb-2 pt-2" href="/pekerjaan_harian_lepas.html">
            <img src="/dist/img/sidebar/Icon-HRD_Pekerjaan Harian Lepas.png" />
            <p>Pekerja Harian Lepas</p>
          </a>
        </li>
      </div>
    </div>
  </ul>
</nav>
<script defer src="dist/js/active-sidebar.js"></script>

<script>
  $(document).ready(function () {
    $("#sidebarRemove").on("click", function () {
      $("#sidebar").removeClass("active");
      $("#section-header").removeClass("active");
      $("#section-body").removeClass("active");
    });
  });
</script>
